
@{
    ViewData["Title"] = "Collaboration";
}

<!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Collaboration</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Collaboration</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- about2 section -->
    <section class="w3l-about2">
        <div class="content-with-photo4-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-2-secs-right">
                        <img src="~/images/nextural.jpg" alt="" class="img-fluid img-responsive" />
                    </div>
                    <div class="col-lg-6 about-2-secs py-lg-5 pt-lg-0 pt-5">
                        <h3 class="title-big">Join Us!</h3>
                        <p> Menjadi perusahaan makanan beku terbaik yang menjadi pilihan utama masyarakat 
                        Indonesia, dan dapat mengembangkan bisnis di luar negeri
                        </p>
                        <ul>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>Mengembangkan bisnis  dengan meningkatkan kualitas produk</li>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>Membangun dan mengembangkan potensi dalam membangun usaha mandiri</li>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>Menciptakan mekanisme bisnis yang berkualitas sehingga mampu bersaing di pasar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about2 section -->
        <!-- contact -->
    <section class="w3l-contact-info-main" id="contact">
        <div class="contact-sec py-5">
            <div class="container py-md-4 py-3">
                <div class="contact-w3pvt-form">
                    <h3 class="title-big mb-5">Get In Touch</h3>
                    <form method="post" class="w3layouts-contact-fm" action="https://sendmail.w3layouts.com/submitForm">
                        <div class="row main-cont-sec">
                            <div class="col-md-6 left-cont-contact">
                                <div class="form-group">
                                    <label for="w3lName">First Name</label>
                                    <input class="form-control" type="text" name="w3lName" id="w3lName" placeholder=""
                                        required="">
                                </div>
                                <div class="form-group">
                                    <label for="w3lName">Last Name</label>
                                    <input class="form-control" type="text" name="w3lName" id="w3lName" placeholder=""
                                        required="">
                                </div>
                                <div class="form-group">
                                    <label for="w3lSender">Email</label>
                                    <input class="form-control" type="email" name="w3lSender" id="w3lSender"
                                        placeholder="" required="">
                                </div>
                            </div>
                            <div class="col-md-6 right-cont-contact mt-md-0 mt-1">
                                <div class="form-group">
                                    <label for="w3lSubject">Write Message</label>
                                    <textarea class="form-control" name="w3lMessage" id="w3lMessage" placeholder=""
                                        required=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-2 mt-4">
                            <button type="submit" class="btn button-style d-flex ml-auto">Send Now</button>
                        </div>
                    </form>
                    <iframe class="map-w3layouts" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.179749070905!2d112.69811491474557!3d-7.3337000947074795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fcbc8f2df2cf%3A0xa4dcb2c0dd39057f!2sGriya%20Kebraon%2C%20Kebraon%2C%20Kec.%20Karangpilang%2C%20Kota%20SBY%2C%20Jawa%20Timur%2060222!5e0!3m2!1sen!2sid!4v1647057663131!5m2!1sen!2sid" 
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->

