
@{
    ViewData["Title"] = "Company";
}

<!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Company</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Company</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- about2 section -->
    <section class="w3l-about2">
        <div class="content-with-photo4-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-2-secs-right">
                        <img src="~/images/nextural.jpg" alt="" class="img-fluid img-responsive" />
                    </div>
                    <div class="col-lg-6 about-2-secs py-lg-5 pt-lg-0 pt-5">
                        <h3 class="title-big">Only fresh and healthy Products for you!</h3>
                        <p>Kitchen dari Nextural saat ini bertempat di Surabaya Selatan. 
                            Sehingga target pasar dari Nextural adalah ibu rumah tangga dengan usia 25–45 tahun yang 
                            bertempat tinggal di Surabaya. Baik Surabaya Selatan, Barat, Pusat, maupun Timur. 
                            Namun saat ini Nextural juga membuka channel penjualan di online store sehingga memperluas 
                            jangkauan menjadi Surabaya, kota sekitar, 
                            dan kota-kota besar di Indonesia yang didukung oleh jasa pengiriman frozen food.
                        </p>
                        <ul>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>Homemade 100%</li>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>Excelent Ingredients</li>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>No Added Preservative</li>
                            <li><span class="fa fa-dot-circle-o" aria-hidden="true"></span>Provide Plant-based Frozen Food</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about2 section -->
    <!-- big video about -->
    <section class="w3l-big-video-about video-section pb-md-5 pb-2 pt-md-4 pt-2">
        <div class="container pb-md-5 pb-3">
            <div class="position-relative">
                <img src="~/images/embed-nug.jpg" alt="" class="img-fluid radius-image-full">
                <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                    <span class="video-play-icon">
                        <span class="fa fa-play"></span>
                    </span>
                </a>
                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/f1zvkdn198s" frameborder="0" allow="autoplay; fullscreen"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- big video about -->