@{
    ViewData["Title"] = "Home Page";
}

<!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 pt-md-0 pt-4">
                    <h3 class="mb-sm-4 mb-3 title">Eat Fresh <br>Eat Healthy</h3>
                    <p>Menjadi perusahaan makanan beku terbaik yang menjadi pilihan utama masyarakat 
                        Indonesia, dan dapat mengembangkan bisnis di luar negeri</p>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <a class="btn button-style" asp-area="" asp-controller="Home" asp-action="Product">View Our Products</a>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-4">
                    <img class="img-fluid" src="~/images/bannerimg.png" alt=" ">
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->
    <!-- about section -->
    <div class="w3l-content-photo-5">
        <div class="content pb-5 pt-md-5 pt-4">
            <div class="container py-lg-4 py-md-3">
                <div class="row">
                    <div class="col-lg-6 content-photo">
                        <a href="#image"><img src="~/images/about.png" class="img-responsive"
                                alt="content-photo"></a>
                    </div>
                    <div class="col-lg-6 content-left mb-md-0 mb-3">
                        <h3>Welcome To Our <span>Nextural</span></h3>
                        <p>100% homemade dan menggunakan bahan-bahan berkualitas.
                            Menyediakan frozen food plant based atau tidak 
                            menggunakan daging ternak dan daging ayam dan disubstitusi dengan jamur dan sayuran..</p>
                        
                        <a class="btn button-style" asp-area="" asp-controller="Home" asp-action="Profile">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //about section -->
     <!-- blog section -->
    <section class="w3l-blog-sec py-5">
        <div class="services-layout py-md-4 py-3">
            <div class="container">
                <h3 class="title-big mb-4 pb-2">Our Testimonial</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 column column-img" id="zoomIn">
                        <div class="services-gd">
                            <div class="serve-info">
                                <h3 class="date">21<sup>st</sup> October</h3>
                                <a href="#blog">
                                    <figure>
                                        <img class="img-responsive" src="~/images/testi-4.jpg" alt="blog-image">
                                    </figure>
                                </a>
                                <h3> <a href="#blog" class="vv-link">Rasa siomaynya enak banget, teksturnya enak juga</a>
                                </h3>
                                <ul class="admin-list">
                                    <li><a href="#blog"><span class="fa fa-user-circle"
                                                aria-hidden="true"></span>
                                            Clara</a></li>
                                    <li><a href="#blog"><span class="fa fa-heart" aria-hidden="true"></span>9
                                            Likes</a></li>
                                    <li><a href="#blog"><span class="fa fa-comments"
                                                aria-hidden="true"></span>9 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 column column-img mt-md-0 mt-4" id="zoomIn">
                        <div class="services-gd">
                            <div class="serve-info">
                                <h3 class="date">23<sup>rd</sup> October</h3>
                                <a href="#blog">
                                    <figure>
                                        <img class="img-responsive" src="~/images/testi-2.jpg" alt="blog-image">
                                    </figure>
                                </a>
                                <h3> <a href="#blog" class="vv-link">Aku sukaaaaa banget kak, langsung abis dimakan sama</a>
                                </h3>
                                <ul class="admin-list">
                                    <li><a href="#blog"><span class="fa fa-user-circle"
                                                aria-hidden="true"></span>
                                            Tiara</a></li>
                                    <li><a href="#blog"><span class="fa fa-heart" aria-hidden="true"></span>9
                                            Likes</a></li>
                                    <li><a href="#blog"><span class="fa fa-comments"
                                                aria-hidden="true"></span>8 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4 column column-img" id="zoomIn">
                        <div class="services-gd">
                            <div class="serve-info">
                                <h3 class="date">1<sup>st</sup> November</h3>
                                <a href="#blog">
                                    <figure>
                                        <img class="img-responsive" src="~/images/testi-3.jpg" alt="blog-image">
                                    </figure>
                                </a>
                                <h3> <a href="#blog" class="vv-link">Bakalan next order lagi si kakk klo gini rasanya </a>
                                </h3>
                                <ul class="admin-list">
                                    <li><a href="#blog"><span class="fa fa-user-circle"
                                                aria-hidden="true"></span>
                                            Vyra</a></li>
                                    <li><a href="#blog"><span class="fa fa-heart" aria-hidden="true"></span>6
                                            Likes</a></li>
                                    <li><a href="#blog"><span class="fa fa-comments"
                                                aria-hidden="true"></span>9 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //blog section -->
    <!-- call section -->
    <section class="w3l-call-to-action-6">
        <div class="call-vv-action py-5">
            <div class="container py-md-4 py-3">
                <div class="grid">
                    <div class="float-lt">
                        <h3 class="title-big">Contact us now!</h3>
                        <p>For Online queries, please call us today</p>
                    </div>
                    <div class="float-rt text-right">
                        <ul class="buttons">
                            <li class="phone"><span class="fa fa-volume-control-phone mr-1" aria-hidden="true"></span>
                                <a class="call-style-w3" href="tel:+6281252988851">+62 812 5298 8851</a>
                            </li>
                            <li class="green">Or</li>
                            <li><a href="https://shopee.co.id/nextural.frozenfood" class="btn button-style">Get in touch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //call section -->

  