
@{
    ViewData["Title"] = "Product";
}

<!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Product</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Product</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->

    <!-- menu -->
    <div class="menu-w3ls py-5" id="menu">
        <div class="container py-md-4 py-3">
            <h3 class="title-big mb-2">Our Product</h3>
            <div class="row menu-body">
                <!-- Section starts: Breakfast -->
                <div class="col-lg-6 menu-section">
                    <!-- Item starts -->
                    <div class="row menu-item">
                        <div class="col-3 p-0 position-relative">
                            <img src="~/images/dimsum.jpg" class="img-responsive" alt="">
                            <a href="#order" class="btn button-style button-style-2">Add</a>
                        </div>
                        <div class="col-9 pl-4">
                            <div class="row no-gutters">
                                <div class="col-9 menu-item-name">
                                    <h6>Dimsum</h6>
                                </div>
                                <div class="col-3 menu-item-price text-right">
                                    <h6>Rp25.000</h6>
                                </div>
                            </div>
                            <div class="menu-item-description">
                                <p>Siomay isi ayam dengan irisan wortel ukuran 250 gr 8 pcs.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item ends -->
                   
                    <!-- Item starts -->
                    <div class="row menu-item">
                        <div class="col-3 p-0 position-relative">
                            <img src="~/images/chick-katsu1.jpg" class="img-responsive" alt="">
                            <a href="#order" class="btn button-style button-style-2">Add</a>
                        </div>
                        <div class="col-9 pl-4">
                            <div class="row no-gutters">
                                <div class="col-9 menu-item-name">
                                    <h6>Chicken Katsu</h6>
                                </div>
                                <div class="col-3 menu-item-price text-right">
                                    <h6>Rp25.000</h6>
                                </div>
                            </div>
                            <div class="menu-item-description">
                                <p>Crispy Chicken Katsu yang lembut dilengkapi dengan saos.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item ends -->
                   
                </div>
                <!-- Section ends: Breakfast -->

                <!-- Section starts: Breakfast -->
                <div class="col-lg-6 menu-section pl-lg-5">
                    <!-- Item starts -->
                    <div class="row menu-item">
                        <div class="col-3 p-0 position-relative">
                            <img src="~/images/chick-nugget.jpg" class="img-responsive" alt="">
                            <a href="#order" class="btn button-style button-style-2">Add</a>
                        </div>
                        <div class="col-9 pl-4">
                            <div class="row no-gutters">
                                <div class="col-9 menu-item-name">
                                    <h6>Nugget</h6>
                                </div>
                                <div class="col-3 menu-item-price text-right">
                                    <h6>Rp25.000</h6>
                                </div>
                            </div>
                            <div class="menu-item-description">
                                <p>Nugget ayam dengan isian wortel berat 250 gr 16 pcs.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item ends -->
                    <!-- Item starts -->
                    <div class="row menu-item">
                        <div class="col-3 p-0 position-relative">
                            <img src="~/images/siomay.jpg" class="img-responsive" alt="">
                            <a href="#order" class="btn button-style button-style-2">Add</a>
                        </div>
                        <div class="col-9 pl-4">
                            <div class="row no-gutters">
                                <div class="col-9 menu-item-name">
                                    <h6>Shumai Plant-Based</h6>
                                </div>
                                <div class="col-3 menu-item-price text-right">
                                    <h6>Rp35.000</h6>
                                </div>
                            </div>
                            <div class="menu-item-description">
                                <p>Siomay plant-based ukuran 250 gr 8 pcs..</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item ends -->
                </div>
                <!-- Section ends: Breakfast -->
            </div>

               